.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-left: 25%;
  }
  
  .loanTypeSelector {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .loanTypeSelector button {
    padding: 10px 15px;
    border: none;
    background: #ff6f00;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .activeLoanType {
    background: #007bff !important;
    color: rgb(255, 255, 255);
  }
  
  .form {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form button {
    background: #279416;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  